body {
  margin: 0;
  width: 100%;
  background-color: #eeeeee;
}

.flex {
  width: 100%;
  display: flex;
  /* padding: 5px 0; */
}
div {
  box-sizing: border-box;
}

h4,
p {
  margin: 0;
}

header {
  background-color: #deb887;
}

.main-article {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.banner {
  width: 100%;
  height: 100%;
}

.image-banner {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.col-5 {
  width: 50%;
  border: 1px solid black;
}
.col-3 {
  width: 30%;
}

#trailer-video {
  display: none;
  padding-top: 20vh;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#trailer-video iframe {
  width: 100vw;
  height: 60vh;
}

footer {
  padding: 10px 0;
}
footer .col-3 {
  display: flex;
}
.col-3 div {
  margin: auto;
}

footer p {
  margin: 7px 0;
}

.map iframe {
  width: 100%;
}

/* responsive */
@media only screen and (max-width: 675px) {
  .main-article {
    flex-direction: column;
  }
  .col-5,
  .col-3 {
    width: 100%;
  }

  .col-3 div {
    margin: auto;
  }

  footer.flex {
    flex-direction: column;
  }
}
